<!DOCTYPE html>

    <html>
      <head>
        <!-- this line of code removes the favicon.ico error -->
        <link rel="icon" href="data:,">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Agreement</title>
        <!-- JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous"></script>

          <script>
        var data = JSON.stringify( {{ data | tojson | safe }} )
      </script>

         <script src="/static/js/agreement.js"></script>

            <script type="text/javascript" >
                function preventBack(){window.history.forward();}
                 setTimeout("preventBack()", 0);
                 window.onunload=function(){null};

           </script>
        <!-- CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"> <!-- CSS for Progress Bar -->
        <link rel="stylesheet" href="/static/styles/agreement.css">
      </head>

      <body>


          <div class="container text-center mt-5">
            <h1 class="page-title">
                Informed consent to participate in an experiment<br><br>

            </h1>
           <h4 class="instructions">
            1. You are about to participate in a digital experiment as part of a decision-making study.<br><br>
2. During the experiment, you will be presented with several web-pages and you will be asked to answer several mandatory questions.<br><br>
3. You can withdraw your participation at any time or refuse to answer any question; however, participants who will not complete the required tasks and reach the completion page will not receive credit for their participation.<br><br>
4. Upon completion of the experiment, you will reach a completion page in which you will receive a verification code. This code will verify that you completed the experiment in Amazon Mechanical Turk so that you will receive credit for this task. <br><br>
5. Confidentiality as to the identity of each participant is guaranteed. It is impossible to connect between the personal details of the participant and the answers and data provided during the experiment.<br><br>
6. There is no time limit for completing the experiment, which should take about 15 minutes. <br><br>
7. The experiment has been approved by Ben-Gurion University’s ethics committee.<br><br>
8. You can raise any question about the experiment by sending an email to  sokhinas@post.bgu.ac.il <br><br>
9. Please check one of the following boxes:<br><br>

            <div class="check_box_cont">
            <span class="border border-0">
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="agreement" value="1" > I hereby confirm that I have understood the above and freely give my consent to participate in this experiment. Continue.
                </label>

            </div>
                <br>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="agreement" value="2" > I do not confirm. Exit.
                </label>
            </div>
              </span>
</div>

<br><br>
             </h4>
          </div>

          <div class="row actions justify-content-around">
            <div class="buttons-box col-md-7 col-12">
              <div class="submit-container">

                <button class="submit-btn" type="button" onclick="submit_func()">Submit </button>
              </div>
            </div>
          </div>

      </body>
    </html>