<!DOCTYPE html>

    <html>
      <head>
        <!-- this line of code removes the favicon.ico error -->
        <link rel="icon" href="data:,">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Finish</title>
        <!-- JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous"></script>

          <script>
            var myData = JSON.stringify( {{ myData | tojson | safe }} )
          </script>
         <script src="static/js/ending_page.js"></script>
        <!-- CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"> <!-- CSS for Progress Bar -->
        <link rel="stylesheet" href="/static/styles/ending_page.css">
      </head>

      <body>

          <div class="row page-progress-bar justify-content-around">
            <div class="progress-bar-placer col-md-7 col-12">
              <div id="steps">
                <div class="step" data-desc="Instructions">1</div>
                <div class="step" data-desc="Profiles">2</div>
                <div class="step done" data-desc="Questions">3</div>
              </div>
            </div>
          </div>

          <div class="container text-center mt-5">
            <h3 class="page-title">
                Thank you for participating! <br><br>

                <div>
                    <label>Your Code:</label>
                    <label class="user_code">{{myData}}</label>
                </div>

            </h3>
           <h4 class="enter_code"> Please enter your code back to Mturk. You can close this page. </h4>
          </div>


      </body>
    </html>