<!DOCTYPE html>

    <html>
      <head>
        <!-- this line of code removes the favicon.ico error -->
        <link rel="icon" href="data:,">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Instructions</title>
        <!-- JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous"></script>

          <script>
            var data = JSON.stringify( {{ data | tojson | safe }} )
        </script>

         <script src="/static/js/instructions.js"></script>
        <!-- CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"> <!-- CSS for Progress Bar -->
        <link rel="stylesheet" href="/static/styles/instructions.css">
      </head>

      <body>


          <div class="container text-center mt-5">
            <h1 class="page-title">
                Instructions<br><br>

            </h1>
           <h4 class="instructions">
            In this assignment you will see a few pages. <br>
            Each page shows a person's profile and you are asked to decide how attractive the person in the profile is in your opinion by moving the scale below.
            After moving the scale and setting your decision, you can press the "Next" button.<br>

            In order to complete the assignment, you must go through all the pages until you reach the "Completion page" and click the submit button.<br> <br>

            In addition, at the beginning of the assignment you will receive a code which you’ll be requested to fill in the Completion page as well.
            After starting the assignment (clicking " I agree - let's begin") You cannot go back and forward between pages.
            Therefore, move to the next page only after you understand the instructions and are positive with your decision for each profile page. <br> <br>
            Please perform the assignment independently (only by yourself) and in a quiet environment as much as possible. <br>
            Please do not transfer any information about the experiment content - pictures and texts. Use it for answering the assignment only and not for any other purpose. <br><br>

            In order to get the payment, the assignment must be completed as well to the mandatory questions following the assignment that should be answered fully.
            There is no time limit, in order to complete the assignment please make sure you have at least free 15 minutes (which is the average time it takes to complete the assignment).
            <br><br>


          </h4>
          </div>

          <div class="row actions justify-content-around">
            <div class="buttons-box col-md-7 col-12">
              <div class="submit-container">
                <button class="close-btn" type="button" onclick="go_to_close_page()">Close</button>
                <button class="submit-btn" type="button" onclick="go_to_agreement()">Next</button>
              </div>
            </div>
          </div>

      </body>
    </html>