<!DOCTYPE html>
<html lang="en">

<head>
     <!-- this line of code removes the favicon.ico error -->
    <link rel="icon" href="data:,">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Introduction</title>
     <!-- JS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/introduction.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    <script>
        var data = JSON.stringify( {{ data | tojson | safe }} )
      </script>

    <script src="/static/js/introduction.js"></script>

    <!-- CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"> <!-- CSS for Progress Bar -->
    <link rel="stylesheet" href="/static/styles/introduction.css">
</head>

<body>
    <div class="row page-progress-bar justify-content-around">
        <div class="progress-bar-placer col-md-7 col-12">
          <div id="steps">
            <div class="step active" data-desc="Instructions">1</div>
            <div class="step " data-desc="Profiles">2</div>
            <div class="step" data-desc="Questions">3</div>
          </div>
        </div>
      </div>

    <div class="container text-center mt-5">
        <h1>We will begin in a minute.
        </h1>
        <br>
        <h4>In order to make the assignment suitable for you we need you to answer this question:</h4>
        <h4>When using a dating platform your interest is in: </h4>

    </div>
<br>
        <div class="mx-auto " style="width:150px">
            <span class="border border-0">
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="genderS" value="1" >Men
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="genderS" value="2" checked="checked">Women
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="genderS" value="3">Both
                </label>
            </div>
            </span>
    </div>

    <div class="row actions justify-content-around">
    <div class="buttons-box col-md-7 col-12">
      <div class="submit-container">
        <button class="close-btn" type="button" onclick="go_to_close_page()">Close</button>
        <button class="submit-btn" type="button" onclick="go_to_profiles()">Start experiment</button>
      </div>
    </div>
  </div>


</body>

</html>