<!DOCTYPE html>

<html>
<head>
    <!-- this line of code removes the favicon.ico error -->
    <link rel="icon" href="data:,">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    <script src="/static/js/welcome.js"></script>


    <script type="text/javascript">
                function preventBack(){window.history.forward();}
                 setTimeout("preventBack()", 0);
                 window.onunload=function(){null};

    </script>
    <!-- CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <!-- CSS for Progress Bar -->
    <link rel="stylesheet" href="/static/styles/welcome.css">
</head>

<body>


<div class="container text-center mt-5">
    <h1 class="page-title">
        Welcome! <br><br>

    </h1>
     <br>
    <h5 class="welcome_text"> This assignment resembles a dating platform and contains several profiles we created for this experiment in which you are about to participate.
        This experiment is held as part of a study taking place in Ben Gurion University.
        Please read the following instructions and make sure you fully understand them before you agree and continue.

    </h5>
</div>

<br>
<div class="row actions justify-content-around">
    <div class="buttons-box col-md-7 col-12">
        <div class="submit-container">
            <button class="close-btn" type="button" onclick="go_to_close_page()">Close</button>
            <button class="submit-btn" type="button" onclick="go_to_instructions()"> Next</button>
        </div>
    </div>
</div>


<div class="row actions justify-content-around">
    <div class="buttons-box col-md-7 col-12">
        <div class="submit-container">
            <div class="loader" id="loader"></div>
        </div>
    </div>
</div>




</body>
</html>